.section{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  height: auto;
  margin-bottom: 10%;
  border-radius: 20px;
  background-color:rgb(29, 92, 89);
  padding-top: 5%;
  padding-bottom: 5%;
}
.descrip{
  font-family: 'League Spartan Regular', sans serif;
  font-size: 30px;
  text-align: center;
  line-height: auto;
  height: auto;
  justify-content: center;
  margin-left: 10%;
  padding: 10px;
  padding-top: 3%;
  color: #ADEFD1FF;
}

@media screen and (max-width: 769px){
  .descrip{
    padding-top: 6%;
  }
  .section{
    margin-bottom: 30%;
    width: auto;
  }
}